{%extends "rdms/layout.html"%}

{% block title %} Login {% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <a href="{% url 'password_reset' %}">
            <button type="button">Forgot password?..</button>
        </a>
        <a href="{% url 'register' %}">
            <button type="button">Don't have account?..</button>
        </a>
        <a href="{% url 'home_page' %}">
            <button type="button">Cancel</button>
        </a>
        <button type="submit">Login</button>
    </form>
{% endblock %}